body{
	/*background: url('../img/red.jpg');
	/*Fondo con gradiente*/
		background: rgb(223, 68, 21);
		background: -moz-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgb(251, 163, 63) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(223, 68, 21)), color-stop(100%, rgba(251, 163, 63)));
		background: -webkit-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -o-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -ms-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ff', endColorstr='#20e3d6', GradientType=1 );
	

	background-attachment: fixed; /*fija el fondo para que no se modifique mediante el scroll*/
}

#logo{
	background: rgb(223, 68, 21);
		background: -moz-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgb(251, 163, 63) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(223, 68, 21)), color-stop(100%, rgba(251, 163, 63)));
		background: -webkit-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -o-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -ms-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ff', endColorstr='#20e3d6', GradientType=1 );
}

#menu ul li:hover{
	background: rgb(223, 68, 21);
		background: -moz-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgb(251, 163, 63) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(223, 68, 21)), color-stop(100%, rgba(251, 163, 63)));
		background: -webkit-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -o-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -ms-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ff', endColorstr='#20e3d6', GradientType=1 );
}

.button-more{
	background: rgb(223, 68, 21);
		background: -moz-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgb(251, 163, 63) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(223, 68, 21)), color-stop(100%, rgba(251, 163, 63)));
		background: -webkit-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -o-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: -ms-linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		background: linear-gradient(45deg, rgba(223, 68, 21) 0%, rgba(251, 163, 63) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084ff', endColorstr='#20e3d6', GradientType=1 );
	
}